.lesson-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    border-bottom: 1px solid var(--border-level-3);
    padding: 24px;
    transition: 0.2s
}

.lesson-card:hover {
    background-color: var(--background);
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid var(--accent);
    box-shadow: 0 0 0 3px var(--accent-b);
    transition: 0.2s
}

.lesson-card-header {
    display: flex;
    justify-content: space-between;
}

.lesson-content-preview {
    margin-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* this to hide the text after reaching 2 lines, or more  */
}

.date-action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lesson-card-actions {
    display: flex;
    gap: 8px;

    button {
        border: none;
        color: #6b7280;
        background-color: transparent;
    }

    button:hover {
        cursor: pointer;
        color: #111827;
    }
}