.category-layout {
    display: flex;
    position: relative;
    background-color: #F3F4F6;
}

.category-lessons {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    background-color: #F3F4F6;
    padding: 16px;

}

.category-lessons-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E5E7EB;
    padding-bottom: 8px;

    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0;
    }

    p {
        font-size: 1rem;
        color: #6B7280;
        margin: 4px 0 0 0;
    }
}

.lessons-container {
    margin-top: 16px;

    .add-lesson {
        background-color: #2563EB;
        color: white;
        border: .5px solid #E5E7EB;
        border-radius: 8px;
        width: 100%;
        padding: 8px;
        margin: 16px 0;
    }

    .add-lesson:hover {
        background-color: #F3F4F6;
        cursor: pointer;
    }
}

.lesson-detail-page {
    flex: 1;
    border-radius: 8px;
    background-color: #F9FAFB;
    border-left: 1px solid #D1D5DB;
}