.category-layout {
    display: flex;
    position: relative;
    background-color: #F3F4F6;
}

.category-lessons {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    background-color: var(--gradient-bg-end);
    padding: 8px;

}

.category-lessons-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-level-3);
    padding: 8px;

    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0;
    }

    p {
        font-size: 1rem;
        color: #6B7280;
        margin: 4px 0 0 0;
    }
}

.lessons-container {
    margin-top: 16px;

    .add-lesson {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background-color: var(--accent-a);
        color: white;
        border: .5px solid #E5E7EB;
        border-radius: 8px;
        width: 100%;
        padding: 8px;
        margin: 16px 0;
        transition: 0.2s
    }

    .add-lesson:hover {
        background-color: var(--accent);
        cursor: pointer;
        transition: 0.2s
    }
}

.lesson-detail-page {
    flex: 1;
    border-radius: 8px;
    background-color: var(--background);
    border-left: 1px solid var(--border-level-3);
}