.dashboard-page {
    padding: 1.5rem;
}

.page-header {
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
        color: #6B7280;
    }
}

.dashboard-content{
    margin: 0 auto;
    max-width: 1280px;
}

.dashboard-cards {
    display: flex;
    /* justify-content: space-between; */
    gap: 1rem;
    margin: 2rem 0 ;
    color: #6B7280;
}