.dashboard-page {
    padding: 1.5rem;
}

.page-header {
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
        color: #6B7280;
    }
}

.dashboard-content {
    margin: 0 auto;
    max-width: 1280px;
}

.dashboard-cards {
    display: flex;
    /* justify-content: space-between; */
    gap: 1rem;
    margin: 2rem 0;
    color: #6B7280;
}

.skill-domain-overview {
    background-color: #F9FAFB;
    border: 1px solid #D1D5DB;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    padding: 1.5rem;

    p {
        color: #6B7280;
        font-size: small;
    }
}

.overview-header {
    display: flex;
    align-items: center;

    .category-color-dot {
        margin-left: 0;
    }
}