aside {
    display: flex;
    width: 250px;
    height: 100vh;
    background-color: #F9FAFB;
    margin-top: 8px;
}

aside nav {
    width: 100%;
    p{
        margin: 16px;
        font-size: 14px;
        color: #6B7280;
    }
}

aside ul {
    list-style-type: none;
}

aside li {
    border-radius: 8px;
    margin: 8px;
    p{
        margin-left: 0;
    }
}

aside a:hover {
    color: #111827;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0 8px 8px 0;
}

aside a {
    display: block;
    text-decoration: none;
    color: #111827;
    height: 32px;
}

.sidebar-link{
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 8px;
    height: 32px;
}
