aside {
    display: flex;
    width: 250px;
    height: 100vh;
    background-color: var(--surface-level-3);
    margin-top: 8px;
}

aside nav {
    width: 100%;

    p {
        margin: 16px;
        font-size: 14px;
    }
}

aside ul {
    list-style-type: none;
}

aside li {
    border-radius: 8px;
    margin: 8px;

    p {
        margin-left: 0;
    }
}


aside a {
    display: block;
    text-decoration: none;
    color: var(--text-primary);
    height: 32px;
}

aside a:hover {
    color: var(--accent);
    border-radius: 0 8px 8px 0;
}

.sidebar-link {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 8px;
    height: 32px;
}