.dashboard-card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--surface-level-1);
    padding: 1rem;
    border: 1px solid var(--border-level-3);
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    width: 300px;
    transition: box-shadow 150ms ease;


    .dashboard-card-header{
        display: flex;
        justify-content: space-between;
    }
}

.dashboard-card:hover {
    box-shadow: 0 4px 6px rgba(0,0,0,.1);
}
